<div class="container">
    <h2 class="mt-3">Login</h2>
    <br />
    <form (ngSubmit)="loginUser()" [formGroup]="loginForm" novalidate class="form">
        <label class="mt-3">Email</label>
        <br />
        <input formControlName="email" placeholder="example@mail.com" />
        <div class="alert  alert-danger" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
            Valid email is required
        </div>

        <br />
        <label class="mt-3">Password</label>
        <br />
        <input formControlName="password" type="password"  required/>
        <div class="alert alert-danger" *ngIf="!loginForm.get('password').valid && loginForm.get('email').touched">
            Email or password incorrect
        </div>
        <button [disabled]='loginForm.invalid' class="btn btn-default">Login</button>
        <div class="alert alert-danger" *ngIf="noUser">
            Invalid username or password. If you are not registered, signup <a href="/signup">here</a>
        </div>
    </form>
</div>