<h2>Posts</h2>

<div class="container">
    <div *ngFor="let post of posts; let i = index">
        <div *ngIf="i % 3 == 0" class="row">
          <div *ngIf="i < posts.length" class="column">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ posts[i].title }}</h5>
                <a href="post-detail/{{posts[i].id}}" class="card-link">Post details</a>
              </div>
            </div>
          </div>
          <div *ngIf="i + 1 < posts.length" class="column">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ posts[i+1].title }}</h5>
                <a href="post-detail/{{posts[i+1].id}}" class="card-link">Post details</a>
              </div>
            </div>
          </div>
          <div *ngIf="i + 2 < posts.length" class="column">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ posts[i+2].title }}</h5>
                <a href="post-detail/{{posts[i+2].id}}" class="card-link">Post details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
